.container
  .row
    .col-md-4.col-md-offset-4.phone
      .row1
        .col-md-12
          .num-pad
            .span4
              .num
                .txt
                  1
            .span4
              .num
                .txt
                  2
                  %span.small
                    %p
                      ABC
            .span4
              .num
                .txt
                  3
                  %span.small
                    %p
                      DEF
            .span4
              .num
                .txt
                  4
                  %span.small
                    %p
                      GHI
            .span4
              .num
                .txt
                  5
                  %span.small
                    %p
                      JKL
            .span4
              .num
                .txt
                  6
                  %span.small
                    %p
                      MNO
            .span4
              .num
                .txt
                  7
                  %span.small
                    %p
                      PQRS
            .span4
              .num
                .txt
                  8
                  %span.small
                    %p
                      TUV
            .span4
              .num
                .txt
                  9
                  %span.small
                    %p
                      WXYZ
            .span4
              .num
                .txt
                  *
            .span4
              .num
                .txt
                  0
                  %span.small
                    %p
                      +
            .span4
              .num
                .txt
                  \#
          .clearfix
          %a.btn.btn-success.btn-block.flatbtn{:href => "#"} CALL
