/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato' , sans-serif;
  color: #333;
  background-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #475264;
}

p {
  margin: 0;
  padding: 0 0 10px 0;
  line-height: 20px;
}

.span4 {
  width: 80px;
  float: left;
  margin: 0 8px 10px 8px;
}

.phone {
  margin-top: 15px;
  background: #fff;
  padding-bottom: 15px;
}

.tel {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 0px;
}

.num-pad {
  padding-left: 15px;
  padding-top: 20px;
}

.num {
  border: 1px solid #9e9e9e;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  -moz-border-radius: 999px;
  height: 80px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.num:hover {
  background-color: #9e9e9e;
  color: #fff;
  transition-property: background-color .2s linear 0s;
  -moz-transition: background-color .2s linear 0s;
  -webkit-transition: background-color .2s linear 0s;
  -o-transition: background-color .2s linear 0s;
}

.txt {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Lato' , sans-serif;
  line-height: 30px;
  color: #333;
 }

.small {
  font-size: 15px;
 }

 .btn {
  font-weight: bold;
  -webkit-transition: .1s ease-in background-color;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
 }

.btn:hover {
  transition-property: background-color .2s linear 0s;
  -moz-transition: background-color .2s linear 0s;
  -webkit-transition: background-color .2s linear 0s;
  -o-transition: background-color .2s linear 0s;
}

.spanicons {
  width: 72px;
  float: left;
  text-align: center;
  margin-top: 40px;
  color: #9e9e9e;
  font-size: 30px;
  cursor: pointer;
}

.spanicons:hover {
  color: #3498db;
  transition-property: color .2s linear 0s;
  -moz-transition: color .2s linear 0s;
  -webkit-transition: color .2s linear 0s;
  -o-transition: color .2s linear 0s;
}

.active {
  color: #3498db;
}

